@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap');

:root {
    --background-color: white;
    --text-color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #121212;
        --text-color: #e0e0e0;
    }
}


body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 10px 18px 5px 10px;
    text-align: left;
    justify-content: space-between;
}

.info {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-box {
    width: 90%;
    height: 90%;
    border-radius: 5px;
    background-color: #f8f7f7;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.314);
}

.content {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.content-header {
    font-size: 29px;
}

.group-bottom0sheet {
    position: fixed;
    z-index: 2000;
    top: 10%;
    width: 100%;
    height: 90%;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out;
    overflow: scroll;
}

.handler {
    width: 100px;
    height: 5px;
    background-color: #a3a3a3;
    border-radius: 2px;
    margin: 10px auto;
}

/*group-card*/
.group-card {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f9f9f9;
}

.group-card-header {
    font-size: 25px;
}

.group-card-body {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}


.group-bottom0sheet0content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

.group-function {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}

.group-function-nav {
    position: relative;
    width: calc(100%);
    height: 80%;
    border: 2px solid rgba(209, 213, 219, 0.3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    font-size: 28px;
}

.group-function-nav ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.group-function-nav li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

#gfn-indicator {
    position: inherit;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 3px;
    background-color: rgb(187, 20, 220);
    transition: 0.3s ease-in-out;
}

.function-tab {
    height: 80%;
}

/*chat탭*/
.group-chat {
    height: 100%;
    width: 100%;
}

.msg-box {
    bottom: 0;
    margin: 12px 0 0 0;
    width: 100%;
    height: 90%;
    border-radius: 10px;
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.253);
    overflow: auto;
    border-bottom: none;
    background-color: rgb(241, 241, 241);
}

.msg-box::-webkit-scrollbar {
    width: 6px;
}

.msg-box::-webkit-scrollbar-thumb {
    background: rgb(187, 20, 220);
    border-radius: 5px;
}

.msg-box::-webkit-scrollbar-track {
    background: rgba(100, 100, 100, 0.1);
}

#message {
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 5px;
    width: 100%;
    height: 50px;
}

#message-bg {
    padding: 5px;
    border-radius: 10px;
    margin: 2.5px 5px 2.5px 5px;
    width: 60% auto;
    max-width: 60%;
    height: 100% auto;
    background-color: rgb(187, 77, 238);
}

.send-box {
    margin-top: 8px;
    display: flex;
    justify-content: left;
}

.send-box input {
    width: calc(100% - 25%);
    padding: 10px;
    font-size: 15px;
    border: none;
    border-bottom: solid 2px rgb(187, 20, 220);
}

.send-box input:focus {
    outline: none;
}

.send-box button {
    font-size: 15px;
    width: 25%;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    padding: 0 20px 0 20px;
    color: white;
    background-color: rgb(187, 20, 220);
}

/*스터디 탭*/
.study {
    height: 100%;
    width: 100%;
}

.study_progress {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.253);
}

#progressbar-cotainer {
    position: relative;
    margin: 10px;
    width: 80%;
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
}

#progress-bar {
    width: 0%;
    height: 15px;
    background-color: #a115ff;
    transition: width 0.4s ease;
}

#progress-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

.study_goals {
    margin: 10px 0 0 0;
    width: 100%;
    height: 65%;
    overflow: auto;
}

.goal {
    padding: 5px;
    margin: 5px 0 5px 0;
    width: 96%;
    height: 50px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
}

.goal_content {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.goal_content span {
    position: relative;
    left: 2.5px;
}

.strikethrough {
    text-decoration: line-through;
}

.goal hr {
    margin: 1.5px;
}

.goal_check input {
    display: none;
}

.goal_check {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
}

.checkmark {
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #b700ff;
    border-radius: 3px;
    margin-right: 10px;
    background-color: white;
}

.goal_check input:checked + .checkmark {
    background-color: #b700ff;
    border-color: #b700ff;
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.goal_check input:checked + .checkmark::after {
    display: block;
    left: 4px;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.add_goals {
    margin: 0 0 10px 0;
    padding: 5px;
    width: 100% auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 4px;
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.253);
}

.add_goals input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

#goals_text_input {
    width: 78%;
}

#set_due {
    margin-top: 5px;
}

.add_goals button {
    width: 20%;
    padding: 8px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 4px;
    cursor: pointer;
}

.delete_goal_button{
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff4d4d;
}

/*클라우드 탭*/
.cloud-tab {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.upload_button_container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.file_upload_input{display: none;}
.file_upload_button {
    width: 99%;
    background-color: #1ac597;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
#file-error-message{
    font-family: Arial, sans-serif !important;
    font-size: 13px;
    color: red; 
}

.file_directory {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 5px;
    align-content:baseline;
}

.file_card {
    display: flex;
    flex-direction: column;
    width: 150px;
    flex:auto;
}

.file_info{
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.file-name{
    overflow-wrap: break-word;
}

.file-delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 8px;
}

/*멤버 탭*/
.memebr-tab {
    height: 100%;
    width: 100%;
}

.member-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#member-president-card {
    width: calc(100%);
    height: 60px;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.253);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

#member-card {
    width: calc(100%);
    height: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.253);
    margin-bottom: 5px;
    cursor: pointer;
} 