body{
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #eeebebdc;
}

#main{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

/*로그인 폼*/
#login-form{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/*input box*/
#textbox{ 
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

#password-box{
    position: relative;
}

#password-box i{
    position: absolute;
    left: 90%;
    top: 23px;
    cursor: pointer;
}

#options{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#options a{
    color: black;
    text-decoration: none;
}

#options a:hover{
    color: #9400d3;
    text-decoration: underline;
}

#login_button{ /*submit button*/
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #ff69b4, #9400d3);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#login_button:hover{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #9400d3, #29003a);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

footer{
    text-align: center;
    font-size: 12px;
}