<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="css/style.css" media="(max-width: 768px)">
        <title>stud-ding</title>
    </head>
    <body>
        <header>
            <h2 id="title">스터띵</h2>
        </header>
        <div id="main">
        </div>
        <!--UserMenuBar-->
        <div id="menubar">
            <a href="">
                <span>Home</span>
            </a>
            <a href="">
                <span>TimeTable</span>
            </a>
            <a href="">
                <span>SearchGroup</span>
            </a>
            <a href="">
                <span>My</span>
            </a>
        </div>
    </body>
</html>
