<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/home.css" media="(max-width: 768px)">
    <link rel="stylesheet" href="/css/globals.css" media="(max-width: 768px)">
    <title>스터띵 - 홈</title>
    <script defer src="/js/home.js"></script>
    <script defer src="/js/globals.js"></script>
    <!--fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="main">
        <div class="header">
            <span id="title" style="font-size: 32px;">스터띵</span>
            <i class="fa-regular fa-bell" style="font-size: 29.5px;"></i>
        </div>
        <div class="info">
            <div id="info-box">

            </div>
        </div>
        <div class="content">
            <div class="content-header">
                <span id="content-title">나의 그룹</span>
            </div>
            <div class="content-body">
                <div class="group-card">
                    <div class="group-card-header">
                        <span id="group-title">test2</span>
                    </div>
                    <div class="group-card-body">
                        <span id="course-name">수업명 : 성서와 인간이해 ,</span>
                        <span id="current-member">현재 참여 인원 : 5</span> / <span id="limited-member"> 30,</span>
                        <span id="group-description">설명 : 성서와 인간이해의 공부...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--UserMenuBar-->
    <nav-bar></nav-bar>
    <script src="/js/component/nav-bar.js"></script>
    <!--group-modal-->
    <div class="group-bottom0sheet" id="gbt" style="transition: transform 0.3s ease-out; transform: translateY(100%);">
        <div class="handler"></div>
        <div class="group-bottom0sheet0content">
            <div class="groupsheet-header">
                <span id="group-title" style="font-size: 30px;">그룹명</span><br>
                <span id="group-description" style="font-size: 20px;">그룹 정보 / 설명</span>
            </div>
            <div class="group-function">
                <div class="group-function-nav">
                    <ul>
                        <li>
                            <i class="fa-regular fa-message"></i>
                            <span style="font-size: 15px;">Chat</span>
                        </li>
                        <li>
                            <i class="fa-solid fa-chalkboard"></i>
                            <span style="font-size: 15px;">Study</span>
                        </li>
                        <li>
                            <i class="fa-regular fa-folder"></i>
                            <span style="font-size: 15px;">Cloud</span>
                        </li>
                        <li>
                            <i class="fa-solid fa-user-graduate"></i>
                            <span style="font-size: 15px;">Member</span>
                        </li>
                    </ul>
                    <div id="gfn-indicator"></div>
                </div>
            </div>
            <div class="function-tab">
                <div class="group-chat">
                    <div class="msg-box">
                        <div id="message">
                            <!--
                            <div style="width: 100%;">
                                <div id="message-bg">
                                    <span id="user-id" style="font-size: 18px;">유저 1</span><br>
                                    <span id="msg">가나다라마바사아자차카타파하ABCDEFGHIJ12398127룰루랄라 하하하..
                                    </span>
                                </div>
                            </div>
                            <div style="width: 100%;">
                                <div id="message-bg" style="float: right;">
                                    <span id="user-id" style="font-size: 18px;">ME</span><br>
                                    <span id="msg">룰루</span>
                                </div>
                            </div>
                            <div style="width: 100%;">
                                <div id="message-bg">
                                    <span id="user-id" style="font-size: 18px;">유저 2</span><br>
                                    <span id="msg">div태그가 이렇게 많아서 어쩌니..</span>
                                </div>
                            </div>
                        -->
                        </div>
                    </div>
                    <div class="send-box" id="msg-send">
                        <input type="text" />
                        <button type="submit">전송</button>
                    </div>
                </div>
                <div class="study">
                    
                </div>
                <div class="cloud-tab">
                    
                </div>
                <div class="member-tab">
                    
                </div>
            </div>
        </div>
    </div>
</body>

</html>