<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <base href="../">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="../static/css/globals.css">
        <link rel="stylesheet" href="../static/css/register_style.css" media="(max-width: 768px)">
        <title>스터띵 회원가입</title>
        <script defer src="../static/js/globals.js" ></script>
        <script defer src="../static/js/authFunctions_register.js" type="module"></script>
        <!--fontawesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div id="main">
            <h2>스터띵 회원가입</h2>
            <div id="register-form">
                <form id="register" action="" method="post">
                    <div id="acc-info">
                    <label>
                        계정정보
                    </label>
                    <input type="email" id="textbox-email" placeholder="이메일(mju.ac.kr)" /> <!--Email-->
                    <span id="email-validation-error" class="validation-error"></span> 
                    <input type="text" id="textbox-name" placeholder="이름" />  <!--이름-->
                    <span id="name-validation-error" class="validation-error"></span>
                    <div id="password-box"> <!--PassWord-->
                        <!--class값 사용금지-->
                        <input type="password" id="textbox-pw-raw" placeholder="비밀번호" maxlength="20" /> 
                        <span id="pw-validation-pattern">8자 이상, 영문, 숫자, 특수문자 포함</span>
                        <i class="fa-regular fa-eye"></i>
                        <span id="pw-validation-error" class="validation-error"></span>
                    </div>
                    <div id="re-password-box">
                        <!--class값 사용금지-->
                        <input type="password" id="textbox-pw-re" placeholder="비밀번호 확인" maxlength="20" />
                        <i class="fa-regular fa-eye"></i>
                        <span id="ns-pw-match-error" class="validation-error">비밀번호가 일치하지 않습니다.</span>
                    </div>
                    <span id="pw-validation-checked-error" class="validation-error"></span>
                    </div>
                    <hr>
                    <div id="std-info">
                    <label>
                        학생정보
                    </label>
                    <input type="text" id="textbox-st-num" maxlength="8" placeholder="학번" inputmode="numeric" /> <!--Student ID-->
                    <span id="st-num-validation-error" class="validation-error"></span> <!--Major-->
                    <select id="major-combobox">
                        <option value="null">학과를 선택해주세요.</option>
                    </select>
                    <span id="major-validation-error" class="validation-error"></span>
                    </div>
                    <button type="submit" id="register_button">회원가입</button>
                </form>
            </div>
            <p>계정이 이미 있으신가요? <a href="/login/" class="linktologin">로그인</a><p></p>
        </div>
        <footer>
            <p>Copyright &copy; 2024 TEAM_JOY. All rights reserved.</p>
        </footer>
    </body>
</html>
